@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nanum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  a {
    @apply text-black;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  background: url("/next.png") no-repeat;
  background-size: 70% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url("/previous.png") no-repeat;
  background-size: 70% auto;
  background-position: center;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
